.Page {
    background-color:aqua;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.passwordsize{
    font-size:35px;
    margin-top:40px;
    font-weight:bolder;
}
.passwordsize input{
    font-weight:bold;
    color:darkorange;
    font-size:35px;
    width:150px;
    height:40px;
}
.he{
   
    width:100%;
    height:200px;
    font-size:25px;
    color:bisque;

        background-color:darkgray
}
.options1 {
  color:firebrick;
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
}
    .options1 input {
      
        width: 80px;
        height: 30px;
    }
.he2{
    font-size:30px;
    margin-left:-20px;
}
    .he2 button {
        color:darkorchid;
        font-weight:bold;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 30px;
        width: 150px;
        height: 40px;
        background-color:blanchedalmond;
    }
    .password{
        font-size:40px;
    }
    .password1{
        margin-top:-70px;
        font-size:30px;
        margin-bottom:-30px;
    }
    .passwordbutton{
        padding-left:70px;
        width:700px;
        margin-top:40px;
    }
    .passwordbutton button{
        width:250px;
        height:40px;
        font-size:30px;
        font-weight:bold;
        margin-right:20px;
    }
    .Page p{
        font-size:20px;
        color:brown;
            font-weight:bold;
    }